<div class="img-wrapper">
  <img src="~/imagens/imgservice.jpg" alt="background">
</div>
<div class="banner">
  <h1>Bem Vindo ao Vet Vida</h1>
  <h2>Dra Alice</h2>
  <a href="#"><button>Saiba Mais</button></a>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus impedit, excepturi error fugit voluptas labore omnis quasi voluptate architecto vero hic consectetur illum quibusdam deleniti neque maxime eligendi illo culpa.</p>
</div>


