        <section>
            <div class="sessao-projetos" id="projetos">
                <div class="sessao-header">
                    <h3>Projetos</h3>
                </div>
                <div class="projetos">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="~/imagens/cachorro-sendo-tosado.jpg" alt="imagem do projeto ToDo" />
                        </div>
                        <div class="card-info">
                            <h2>Tosa</h2>
                            <h1>R$60</h1>
                            <p>A tosa de cachorro é um cuidado muito importante para cães de pelo longo. Além de dar deixar o pet bonitinho, dependendo da raça, também ajuda a aliviar o calor nos dias de temperatura elevada.</p>
                                <a href="/Home/PreAgendamento">    
                                    <button class="btn">Saiba Mais</button>
                                </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="~/imagens/gato-vacina-pata.jpg" alt="imagem do projeto Maratona" />
                        </div>
                        <div class="card-info">
                            <h2>Vacinação</h2>
                            <h1>R$20</h1>
                            <p>Tão importante quanto a qualidade de uma vacina, é avaliar se o paciente está clinicamente bem para obtermos uma resposta imunológica satisfatória.</p>
                                <a href="/Home/PreAgendamento">    
                                    <button class="btn">Saiba Mais</button>
                                </a>
                                
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="~/imagens/cuidado.jpg" alt="imagem do projeto Casa Bela" />
                        </div>
                        <div class="card-info">
                            <h2>Internação</h2>
                            <h1>R$100</h1>
                            <p>A Vet Vida conta com uma equipe de médicos veterinários atuando 24 horas no Setor de Internação, exclusivamente para o acompanhamento dos animais que necessitem de acompanhamento médico integral.</p>
                            <a href="/Home/PreAgendamento">    
                                <button class="btn">Saiba Mais</button>
                            </a>
                            
                        </div>
                    </div>
                </div>
        </section>